.title_1{
    color: #fff;
    text-align: center;
}

.content{
    width: 90%;
    height: 100%;
    background-color: #333333;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options{
    width: 70%;
    margin: 3rem 0;

}

.buttons{
    width: 100%;
    height: 50px;
    background-color: #666666;
    margin: 5px;
    color: #fff;
    border-radius: 5px;
    border-style: none;
    font-size: 14px;
    cursor: pointer;
}

.buttons:hover{
    background-color: #494949;
}

.correct{
    border: 2px solid #157933;
}

.incorrect{
border: 2px solid red;
}

.counter-circle{
    margin-top: 20px;
}

.lose{
    text-align: center;
}